@model Moovers.WebModels.EditUserModel

<div class="center-container">
    <div class="container-pad">
        @if (@ViewData.ModelState["CustomErrors"] != null && @ViewData.ModelState["CustomErrors"].Errors.Count > 0)
        {
            foreach (var error in @ViewData.ModelState["CustomErrors"].Errors)
            {
                @error.ErrorMessage <br />
            }
        }
        <br />
        @using (Html.BeginForm(null, null, FormMethod.Post))
        {
            <div class="control-group">
                @Html.LabelFor(m => m.OldPassword, "Old Password", new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.OldPassword, new { required = "required" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { required = "required" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { required = "required" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn">Cancel</button>
        }
    </div>
</div>
