@{
    ViewBag.Title = "Reports";
}
<div class="container-pad">
    <h2>Reports</h2>
    <ul class="menu">
        <li>@Html.ActionLink("Daily Activity", "DailyActivity")</li>
        <li>@Html.ActionLink("Payments", "Payment")</li>
        <li>@Html.ActionLink("Sales Projection", "SalesProjection")</li>
        <li>@Html.ActionLink("Booking Rate", "BookingRate")</li>
        <li>@Html.ActionLink("Item Summary", "ItemList")</li>
    </ul>
</div>
