@model Business.Models.DiscountCoupon

@{
    ViewBag.Title = "Create";
}

<div class="center-container">
    <div class="container-pad">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>New Discount Coupon</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="editor-label">
                    @Html.Label("Coupon Code")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CouponCode)
                    @Html.ValidationMessageFor(model => model.CouponCode)
                </div>
                
                <div class="row-fluid">
                    <div class="span2">
                        <div class="editor-label">
                            @Html.Label("Discount Percentage")
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Percentage)
                            @Html.ValidationMessageFor(model => model.Percentage)
                        </div>
                    </div>
                    <div class="span2">
                        <div class="editor-label">
                            @Html.Label("Discount Amount")
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Amount)
                            @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                    </div>
                </div>

                <div class="editor-label">
                    @Html.Label("Number Of Times Usable")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NumberOfTimesUsable)
                    @Html.ValidationMessageFor(model => model.NumberOfTimesUsable)
                </div>

                <div class="row-fluid">
                    <div class="span1">
                        <div class="editor-label">
                            @Html.Label("Duration Start")
                        </div>
                        <div class="editor-field">
                            @Html.DateBoxFor(model => model.DurationStart)
                            @Html.ValidationMessageFor(model => model.DurationStart)
                        </div>
                    </div>
                    <div class="span1">
                        <div class="editor-label">
                            @Html.Label("Duration End")
                        </div>
                        <div class="editor-field">
                            @Html.DateBoxFor(model => model.DurationEnd)
                            @Html.ValidationMessageFor(model => model.DurationEnd)
                        </div>
                    </div>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.IsPublished)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.IsPublished)
                    @Html.ValidationMessageFor(model => model.IsPublished)
                </div>
                    
                <p>
                    <input type="submit" value="Create" class="btn btn-primary"/>
                    @Html.ActionLink("Back", "Index", "DiscountCoupon", new { @class = "btn btn-back" })
                </p>
            </fieldset>
        }
    </div>
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
