@model Business.Models.DiscountCoupon

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>DiscountCoupon</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DurationStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DurationStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DurationEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DurationEnd)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscountCouponId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
